<?xml version="1.0"?>
<!--
/**
 * @author Gustavo Dauer <gustavo.dauer@hotmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Config Provider for checkout -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="gift_message_plus" xsi:type="object">Dauer\GiftMessagePlus\Model\Checkout\ConfigProvider\GiftMessageConfig</item>
            </argument>
        </arguments>
    </type>
</config>
